@keyframes synthClicked {
    from {
        background-color: #707070;
    } to {
        background-color: #202020;
    }
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: "Roboto Mono", monospace;
}

#container {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pad {
    flex: 20%;
    margin: 5px;
    background-color: #202020;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    color: #fff;
    position: relative;
}

.note-assigned {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.pad-num, .note-keyboard {
    position: absolute;
    font-size: 10px;
    background-color: #fff;
    color: #000;
}

.pad-num {
    top: 0;
    right: 0;
}

.note-keyboard {
    left: 2px;
    top: 2px;
    padding: 2px;
    border-radius: 2px;
}

#option {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 12px;
}

input, button, label {
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    margin: 2px;
}

@media only screen and (max-width: 768px) {
    #container {
        width: 80%;
    }

    #option {
        position: absolute;
        bottom: 8px;
        right: 8px;
    }
}