@keyframes synthClicked {
    from {
        background-color: #707070;
    } to {
        background-color: #202020;
    }
}

html {
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: rgb(63, 29, 107);
    font-size: 12px;
}

#container {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pad {
    flex: 20%;
    margin: 5px;
    background-color: #202020;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    color: #fff;
    position: relative;
}

.note-assigned {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.pad-num, .note-keyboard {
    position: absolute;
    font-size: 10px;
    background-color: #fff;
    color: #000;
}

.pad-num {
    top: 0;
    right: 0;
}

.note-keyboard {
    left: 2px;
    top: 2px;
    padding: 2px;
    border-radius: 2px;
}

#option {
    background-color: #fff;
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: none;
}

#option-menu {
    position: absolute;
    bottom: 8px;
    left: 8px;

    background-color: #000;
    padding: 5px;
    color: #fff;
}

input, button, label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 2px;
}

@media screen and (max-width: 768px) {
    #option {
        display: none;
        position: absolute;
        bottom: 8px;
        right: 8px;
    }
}